html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}
body
{
    background:linear-gradient(
        #F3D7D1,
        #FBE6E2,
        #F9E1DC
    )
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainbox {
  width: 500px;
  height: 600px;

  background: linear-gradient(
    to top,
    #E8BEB8 0%,
    #F3D7D1 100%
  );

  border-radius: 30px;

  box-shadow:
    -12px -12px 20px #FFFFFF,
     12px  12px 20px #E8BEB8;
}
#mainbox img{
    display: flex;
    justify-content: center;
}
img
{
    align-self: center;
    justify-self: center;
    margin-top:70px;
    width:300px;
    height:300px;
    border-radius: 30px;
     box-shadow:
    20px 20px 20px #FFFFFF,
     20px  20px 20px #E8BEB8;
}
#songname
{
    justify-self: center;
    text-decoration: none;
    line-height:0.5;
} 
#timing
{
    margin-left:50px;
    word-spacing:340px;
}
#playing
{
    justify-self: center;
    align-self: center;
    border: 1px solid black
}
#playing {
  width: 80%;
  height: 10px;
  background: #E8BEB8;
  border-radius: 20px;
  overflow: hidden;
}

.progress {
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    #F6A5C0,
    #E58DB2,
    #C77DFF
  );
  border-radius: 20px;
}
#forward
{
    border: none;
    background:none;
    font-size: 50px;
    margin-left: 60px;
    margin-top: 30px;
}

.but
{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.but button
{
    font-size: 30px;
    background: none;
    border: none;
}
.but .play
{
    background: linear-gradient(
  135deg,
  #F6A5C0,
  #C77DFF
);
    border-radius: 50%;
    width: 55px;
    height: 55px;
}